---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Code from "../components/Code.astro";
---

<Layout title="Built with Astro ðŸš€">
	<header class="w-full flex justify-between pt-3 px-6">
		<span>Header Text</span>
		<span>
			More Text but
			<span class="text-transparent bg-gradient-to-r to-violet-500 from-fuchsia-500 bg-clip-text">
				prettier
			</span>
		</span>
	</header>
	<main class="container max-w-xl mx-auto">
		<h1 class="m-0 text-5xl font-extrabold">
			Bem Vindo,
			<span class="text-transparent bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text">
				Nivaldo
			</span>
		</h1>
		<p
			class="p-4 mx-0 my-4 leading-relaxed text-gray-600 border-solid rounded-md bg-slate-100 border-1 border-violet-600/25"
		>
			To get started, open the directory <Code>src/pages</Code> in your project.
			<br />
			<strong class="text-violet-600">Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul
			role="list"
			class="link-card-grid"
		>
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. â¤ï¸"
			/>
		</ul>
	</main>
</Layout>

<style>
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
