---
import "../styles.css";

import DefaultLayout from "../layouts/DefaultLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
---

<DefaultLayout title="Built with Astro 🚀">
	<div class="flex flex-col gap-10">
		<Navbar
			href="/about"
			label="About"
		/>
		<Main />
	</div>
	<Footer />
</DefaultLayout>
