---
import { Icon } from "astro-icon/components";

import type { Tags } from "../../data/tags";

export interface Props {
	tag: Tags[keyof Tags];
}

const { tag } = Astro.props;
---

<div class="flex gap-1 badge cursor-default">
	<Icon
		height="17"
		width="17"
		name={tag.icon}
	/>
	<span>{tag.label}</span>
</div>
