---
import type { RepositoryData } from "../../utils/github-api";

import Card from "./Card.astro";
import { api } from "../../utils/github-api";

const listUserRepos = await api.listUserRepos({
	per_page: 100,
	sort: "updated",
	direction: "desc",
});

const defaultCards: Partial<RepositoryData>[] = [
	{
		html_url: "https://github.com/NivaldoFarias",
		name: "Github Profile",
		description: "Explore the projects I've previously worked on.",
		topics: ["github"],
	},
	{
		html_url: "https://astro.build/",
		name: "Astro",
		description: "This project was built with Astro. Explore their documentation.",
		topics: ["astro"],
	},
	{
		html_url: "https://daisyui.com/",
		name: "Themes",
		description: "Themes and color palettes powered by DaisyUI.",
		topics: ["tailwindcss", "daisyui"],
	},
	{
		html_url: "https://tailwindcss.com/",
		name: "Tailwind CSS",
		description: "All Styles and Layout are powered by Tailwind CSS.",
		topics: ["tailwindcss"],
	},
];
---

<>
	<div class="join flex justify-between">
		<div class="label join-item">
			<span class="label-text text-2xl">Sort repositories by</span>
		</div>
		<select class="select select-ghost select-lg join-item">
			<option
				disabled
				selected
			>
				last pushed
			</option>
			<option>Star Wars</option>
			<option>Harry Potter</option>
			<option>Lord of the Rings</option>
			<option>Planet of the Apes</option>
			<option>Star Trek</option>
		</select>
	</div>
	<ul
		role="list"
		class="grid grid-cols-1 sm:grid-cols-2 p-0 min-h-[8rem] min-w-[16rem] link-card-grid gap-x-3 gap-y-8 mt-4"
	>
		{
			listUserRepos?.length
				? listUserRepos.map((repo) => (!repo.fork && !repo.private ? <Card data={repo} /> : null))
				: defaultCards.map((data) => <Card data={data} />)
		}
	</ul>
	<script></script>
</>
