---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li
	title={title}
	class="rounded-lg w-full card bg-neutral-content/5 shadow-xl hover:bg-accent-content/5 transition-colors duration-300"
>
	<a
		target="_blank"
		href={href}
		class="card-body"
	>
		<h2 class="card-title">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="justify-end card-actions">
			{body}
		</p>
	</a>
</li>
