---
import github from "../assets/github.svg";
import gitlab from "../assets/gitlab.svg";
import linkedin from "../assets/linkedin.svg";
---

<div>
  <div class="divider">Credits</div>
  <footer
    class="footer flex align-center justify-between p-4 text-neutral-content justify-self-end"
  >
    <div class="items-center grid-flow-col">
      <p>Nivaldo Farias, 2023.</p>
    </div>
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <a
        href="https://github.com/NivaldoFarias"
        target="_blank"
      >
        <img
          src={github.src}
          width="24"
          height="24"
          alt="Github logo"
        />
      </a>
      <a
        href="https://gitlab.com/NivaldoFarias"
        target="_blank"
      >
        <img
          src={gitlab.src}
          width="24"
          height="24"
          alt="Gitlab logo"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/nivaldofarias/"
        target="_blank"
      >
        <img
          src={linkedin.src}
          width="24"
          height="24"
          alt="Linkedin logo"
        />
      </a>
    </div>
  </footer>
</div>
