---
import Card from "./Card.astro";
---

<main class="container max-w-2xl min-w-0 pr-2 pl-2 md:pr-6 md:pl-0 pt-4">
  <h1 class="m-0 text-4xl font-extrabold">
    Personal
    <span class="fancy-text">Portfolio</span>
  </h1>
  <div class="prose pt-4 pb-8">
    This is a playground that will store projects in the <code>repos/</code> directory.
    <br />
    Each one of my
    <a
      target="_blank"
      href="https://github.com/"
      class="font-bold underline decoration-2 decoration-accent underline-offset-2"
    >
      Github
    </a>
    repository's <code>README.md</code> will be rendered as a page.
  </div>
  <ul
    role="list"
    class="link-card-grid"
  >
    <Card
      href="https://github.com/NivaldoFarias"
      title="Github Profile"
      body="Explore the projects I've previously worked on."
    />
    <Card
      href="https://astro.build/"
      title="Astro"
      body="This project was built with Astro. Explore their documentation."
    />
    <Card
      href="https://daisyui.com/"
      title="Themes"
      body="Themes and color palettes powered by DaisyUI."
    />
    <Card
      href="https://tailwindcss.com/"
      title="Tailwind CSS"
      body="All Styles and Layout are powered by Tailwind CSS."
    />
  </ul>
</main>
