---
import CardGrid from "./CardGrid.astro";
---

<main class="mx-auto max-w-2xl min-w-0 pr-2 pl-2 md:pr-6 md:pl-0 pt-4">
  <h1 class="m-0 text-4xl font-extrabold">
    Personal
    <span class="fancy-text">Portfolio</span>
  </h1>
  <div class="prose pt-4 pb-8">
    A portfolio website that stores projects in the <code>repos/</code> directory.
    <br />
    Each one of my
    <a
      target="_blank"
      href="https://github.com/"
      class="font-bold underline decoration-2 decoration-accent underline-offset-2"
    >
      Github
    </a>
    repository's <code>README.md</code> will be rendered as a page.
  </div>
  <CardGrid />
</main>
