---
import RepoMetadata from "./RepoMetadata.astro";

if (!Astro.params.slug) return Astro.redirect("/404");

import { api } from "../utils/github-api";

const ghReadme = await api.repoReadme(Astro.params.slug);
---

<div class="flex justify-center pr-0 md:pr-[5.3rem] relative">
	<div class="relative min-w-0 max-w-[100vw] flex flex-col">
		<RepoMetadata />
		<div class="px-4 pt-4 prose">{ghReadme?.data.content ?? ""}</div>
	</div>
</div>
