---
import { Icon } from "astro-icon";
import { THEMES } from "../data/themes";

import ColorPalette from "./ColorPalette.astro";

export interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<div class="sticky top-0">
  <nav class="w-full h-16 pt-3 pr-4 transition-all navbar bg-base-100 bg-opacity-70 backdrop-blur">
    <div class="flex-1">
      <div class="flex-none lg:hidden">
        <label
          for="drawer"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            >
            </path>
          </svg>
        </label>
      </div>
      <a
        href={href}
        class="text-xl normal-case btn btn-sm btn-ghost"
      >
        {label}
      </a>
    </div>

    <div
      title="Change theme"
      class="dropdown dropdown-bottom dropdown-end"
    >
      <button class="normal-case btn btn-ghost">
        <Icon
          name="ph:swatches"
          height="28"
          width="28"
        />
        <span class="text-lg fancy-text">Theme</span>
        <Icon
          name="ph:caret-down-bold"
          height="16"
          width="16"
        />
      </button>
      <div
        class="dropdown-content text-base-content menu shadow bg-base-200 rounded-box w-56 overflow-y-auto top-px h-[70vh] max-h-96 mt-8"
      >
        <div class="flex flex-col gap-3 p-2">
          {
            THEMES.map(({ theme, label }) => {
              return (
                <ColorPalette
                  theme={theme}
                  label={label}
                />
              );
            })
          }
        </div>
      </div>
    </div>
  </nav>
  <div class="m-0 divider"></div>
</div>
