---
import { Icon } from "astro-icon";

export interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<nav class="navbar bg-base-100 w-full pt-3 pr-4">
  <div class="flex-1">
    <a
      href={href}
      class="btn btn-sm btn-ghost normal-case text-xl"
    >
      {label}
    </a>
  </div>

  <div class="dropdown dropdown-bottom dropdown-end">
    <label
      tabindex="0"
      class="btn"
    >
      <Icon
        name="ph:swatches"
        height="28"
        width="28"
      />
      <span class="fancy-text">Theme</span>
    </label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
    >
      <li>
        <button
          data-set-theme="dark"
          data-act-class="ACTIVECLASS"
        >
          <Icon
            name="ph:moon"
            height="24"
            width="24"
          />
          <span>Dark</span>
        </button>
      </li>
      <li>
        <button
          data-set-theme="light"
          data-act-class="ACTIVECLASS"
        >
          <Icon
            name="ph:sun"
            height="24"
            width="24"
          />
          <span>Light</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
