---
export interface Props {
  href: string;
  label: string;
}

// import moon from "../assets/moon.svg";
// import sun from "../assets/sun.svg";

const { href, label } = Astro.props;
---

<nav class="navbar bg-base-100 w-full pt-3 pr-4">
  <div class="flex-1">
    <a
      href={href}
      class="btn btn-sm btn-ghost normal-case text-xl"
    >
      {label}
    </a>
  </div>

  <div class="dropdown dropdown-bottom dropdown-end">
    <label
      tabindex="0"
      class="btn m-1"
    >
      <span class="fancy-text">Theme</span>
    </label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
    >
      <li>
        <button
          data-set-theme="dark"
          data-act-class="ACTIVECLASS"
        >
          Dark
        </button>
      </li>
      <li>
        <button
          data-set-theme="light"
          data-act-class="ACTIVECLASS"
        >
          Light
        </button>
      </li>
    </ul>
  </div>
</nav>
