---
import { Icon } from "astro-icon";
---

<aside class="hidden p-4 md:block w-80 top-30 sticky h-full">
  <ul class="menu">
    <li>
      <a class="flex items-center gap-2">
        <Icon
          aria-label="Content"
          class="text-primary"
          name="ph:scroll-fill"
          height="22"
          width="22"
        />
        <span class="font-semibold opacity-80">Content</span>
      </a>
      <ul>
        <li><a href="/">Home<span class="text-xl">&rarr;</span></a></li>
        <li>
          <span class="font-semibold opacity-80">Repositories</span>
          <ul>
            <li><a href="/repo/test">Test<span class="text-xl">&rarr;</span></a></li>
            <li><a>Another Page</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <div class="divider"></div>
    <li>
      <a class="flex items-center gap-2">
        <Icon
          aria-label="Customize"
          name="ion:sparkles"
          height="20"
          width="20"
          class="text-secondary"
        />
        <span class="font-semibold opacity-80">Customize</span>
      </a>
      <ul>
        <li><a>Sidebar Item 6</a></li>
        <li><a>Sidebar Item 7</a></li>
      </ul>
    </li>
  </ul>
</aside>
