<div class="z-10 drawer-side">
  <label
    for="drawer"
    class="drawer-overlay"
  >
  </label>
  <aside class="p-4 w-80 bg-base-100">
    <h1>Title 1</h1>
    <ul class="px-4 py-0 menu menu-sm lg:menu-md">
      <h2 class="menu-title">Title 2</h2>
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
    <div class="divider"></div>
    <ul class="px-4 py-0 menu menu-sm lg:menu-md">
      <h2 class="menu-title">Title 3</h2>
      <li><a>Sidebar Item 3</a></li>
      <li><a>Sidebar Item 4</a></li>
    </ul>
  </aside>
</div>
