@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	summary {
		@apply pl-4 pr-2 py-2 flex w-full justify-between items-center pointer-events-auto cursor-pointer !important;
	}

	summary > a:hover {
		@apply underline decoration-2 decoration-accent underline-offset-2;
	}

	summary:after {
		@apply block mt-[-0.5rem] cursor-pointer h-2 w-2 rotate-45 transition-transform duration-300 justify-self-end text-secondary;
	}

	summary.marker-alt:after {
		@apply text-accent;
	}

	summary:after {
		transition-property: transform, margin-top;
		content: "";
		pointer-events: all;
		box-shadow: 2px 2px;
		transform-origin: 75% 75%;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	details[open] > summary:after {
		transform: rotate(225deg);
		margin-top: 0;
	}

	::selection,
	::-moz-selection {
		@apply bg-accent text-accent-content;
	}

	:not(pre) > code {
		@apply rounded-md bg-neutral py-1 leading-none text-neutral-content whitespace-nowrap !important;
	}

	:not(pre) > code:not(:only-child) {
		@apply mx-0.5 !important;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		scroll-margin-block-start: 6rem;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) section {
		@apply pl-4 border-l-2 border-accent/10 rounded-lg;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) :is(h1, h2, h3, h4, h5, h6) {
		@apply relative;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) h5 {
		@apply mt-3 mb-2 font-semibold text-base;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) h6 {
		@apply text-sm;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) a {
		@apply font-semibold underline decoration-2 underline-offset-2;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) a:nth-of-type(odd) {
		@apply decoration-accent;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) a:nth-of-type(even) {
		@apply decoration-secondary;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) a:only-of-type {
		@apply decoration-primary;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) p:is(:has(a > img), :has(img ~ img)) {
		@apply flex gap-2 items-center flex-wrap;
	}

	:is(.prose, .prose-sm, .prose-md, .prose-xl, .prose-lg) p:is(:has(a > img), :has(img ~ img)) img {
		@apply m-0;
	}
}

@layer components {
	.custom-code {
		@apply rounded bg-violet-600/10 px-2 py-1 text-sm font-bold text-violet-600;
	}

	.link-card-grid {
		@apply grid grid-cols-2 gap-3 p-0 min-h-[8rem] min-w-[16rem];
	}

	.fancy-text {
		@apply animate-text bg-gradient-to-r from-teal-500 via-violet-600 to-pink-500 bg-clip-text font-black text-transparent;
	}

	.active-theme {
		@apply border-l-4 border-primary;
	}

	.link-card-grid:not(:has(.card)),
	.animate-skeleton {
		@apply relative isolate overflow-hidden  before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:border-t before:border-rose-100/10 before:bg-gradient-to-r before:from-transparent before:via-base-content/5 before:to-transparent;
	}

	a:has(.icon.icon-link) {
		@apply inline-flex items-center;
	}

	:is(h1, h2, h3, h4, h5, h6):hover .icon.icon-link::after {
		@apply content-['🔗'];
	}

	:is(h5, h6) .icon.icon-link::after {
		@apply top-[5%];
	}

	:is(h4, h5, h6) .icon.icon-link::after {
		@apply text-[1.2ch];
	}

	.icon.icon-link::after {
		@apply content-[''] text-[1ch] h-full text-center absolute top-[25%] translate-x-2 transition-all opacity-50 animate-link-icon;
	}

	.badge {
		@apply shadow-md inline-flex items-center justify-center py-3 font-semibold rounded-lg !important;
	}

	.menu
		:where(li:not(.menu-title):not(.disabled) > :not(ul):not(details):not(.menu-title)):not(
			.active
		):hover {
		@apply underline decoration-2 decoration-accent underline-offset-2 outline-none bg-transparent !important;
	}
}
