---
import "../styles.css";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body class="flex overflow-x-hidden flex-col relative w-screen min-h-screen pb-32">
    <Navbar
      href="/"
      label="Home"
    />
    <div class="flex justify-center pr-0 md:pr-[5.3rem]">
      <Sidebar />
      <div class="px-4 prose pt-4">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
