---
import "../styles.css";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <script is:inline>
    if (localStorage.getItem("theme") === null) {
      document.documentElement.setAttribute("data-theme", "light");
    } else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
  </script>
  <script>
    import { themeChange } from "theme-change";
    themeChange();
  </script>

  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{title}</title>

  <body class="w-screen min-h-screen relative pb-32">
    <div class="w-full flex flex-col gap-10">
      <Navbar
        href="/"
        label="Home"
      />
      <div class="prose dark:prose-invert prose-sm lg:prose mx-auto px-4">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
